@font-face {
	font-family: 'AbandoN';
	src: local('AbandoN'), url('./AbandoN.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_40061">Text with this font applied</p> */
.fontsforweb_fontid_40061 {
	font-family: 'AbandoN' !important;
}

/* Font downloaded from FontsForWeb.com */