@font-face {
	font-family: 'minecrafter20';
	src: local('minecrafter20'), url('./minecrafter20.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1388">Text with this font applied</p> */
.fontsforweb_fontid_1388 {
	font-family: 'minecrafter20' !important;
}

/* Font downloaded from FontsForWeb.com */