@font-face {
	font-family: 'VIPESRG';
	src: local('VIPESRG'), url('./VIPESRG.woff') format('woff');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_771">Text with this font applied</p> */
.fontsforweb_fontid_771 {
	font-family: 'VIPESRG' !important;
}

/* Font downloaded from FontsForWeb.com */